<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Обо мне</title>
    <meta charset="UTF-8"> 
  </head>
  <body>
    <h1>Хикматов Дмитрий</h1>
    <p>Учусь на первом курсе Волгатеха, направления "программная инженерия". До конца не понимаю что от меня требуется в этом задании, но уверен, что сразу, как узнаю, пойду доделывать. Поэтому я просто сделаю, чтобы работало. Спасибо за внимание!</p>
    <img src="https://sun1-47.userapi.com/s/v1/ig2/yO16uNBRKfFZ_6okwq8u7Yj_16sch8-W_XtUwm-m768AZOFuwBNMpGIpCV-ocYGz4vq0awqoTXhdNaSFUCNxQjSS.jpg?size=200x0&quality=96&crop=23,0,1095,1495&ava=1" />
  </body>
</html>