<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Обо мне</title>
    <meta charset="UTF-8"> 
  </head>
  <body>
    <h1>Хикматов Дмитрий</h1>
    <p>Учусь на первом курсе Волгатеха, направления "программная инженерия". До конца не понимаю что от меня требуется в этом задании, но уверен, что сразу, как узнаю, пойду доделывать. Поэтому я просто сделаю, чтобы работало. Спасибо за внимание!</p>
    <img src="{{ asset('bundles/acmedemo/img/weather_icons/blizzard.gif') }}" />
  </body>
</html>